 {% load staticfiles %}


  <!-- slider -->
  <section id="slider" class="text-center">
      <div class="container" id="home">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
           </ol>
          
          <div class="carousel-inner">
            <div class="item active">
              <h1>HOW TO</h1>
              <h2>SELL QUICK AND EASY</h2>
              <button type="button" class="btn btn-success">LEARN MORE</button>
            </div>
            
            <div class="item">
              <h1>INCREASE</h1>
              <h2>HOMES VALUE</h2>
              <button type="button" class="btn btn-success">LEARN MORE</button>
            </div>
            
            <div class="item">
              <h1>HOUSING</h1>
              <h2>HUNTING MADE EASY</h2>
              <button type="button" class="btn btn-success">LEARN MORE</button>
            </div>
          </div>
        </div>
        
        
      </div>
  </section>

<!--end slider-->

<!-- photo -->

 <section id="photo">
   <div class="container" id="gallery">
    <div class="row">
      
      <div class="col-sm-12 text-center wow fadeIn">
       
    <h1><i class="fa fa-trophy"></i> We Are Offering The Best Real Estate Deals</h1>
        <p>We pride ourselves on taking care of our customers. Between our detailed theme documentation, screencasts tand knowledgebase you’re sure to get up and running in no time.</p>
       
      </div>
      
    </div>
     
   </div> 
 
 </section>

<!-- end photo -->

<!-- agent -->
<section id="agent"> 
   <div class="col-sm-12 text-center">
       
    <h1>Agents</h1>
    <h2></h2>
     
       
      </div>
  <div class="container" id="agent">
    
    <div class="row" align="center">
      
    <div class="col-md-4 image wow fadeInUp">
 
    <!-- colored -->
    <div class="ih-item circle colored effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="{% static 'img/nico.jpg' %}" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Nico Queliza</h3>
            <p>CEO</p>
          </div>
        </div></a></div>
    <!-- end colored -->
 
  </div>

 <div class="col-md-4 image wow fadeInUp" data-wow-delay="0.2s">
 
    <!-- colored -->
    <div class="ih-item circle colored effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="{% static 'img/allan.jpg' %}" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Allan Valdez</h3>
            <p>Programmer</p>
          </div>
        </div></a></div>
    <!-- end colored -->
 
  </div>

  
  <div class="col-md-4 image wow fadeInUp" data-wow-delay="0.3s">
 
    <!-- colored -->
    <div class="ih-item circle colored effect1"><a href="#">
        <div class="spinner"></div>
        <div class="img"><img src="{% static 'img/kim2.jpg' %}" alt="img"></div>
        <div class="info">
          <div class="info-back">
            <h3>Kenneth Laqui</h3>
            <p>Designer</p>
          </div>
        </div></a></div>
    <!-- end colored -->
 
  </div>

    
    
  </div>
  </div>
  
</section>
 <!-- end of agent -->

 <!-- email -->

<section id="signup">
<div class="container" id="services">
  <div class="row">
    <h1 class ="sub wow slideInDown">SUBSCRIBER TO OUR COMUNITY</h1>
    
    <div class="col-md-4 col-md-offset-4">
      <div class="input-group">
        <input type="email" class="form-control wow slideInUp"size="100" placeholder="ENTER YOUR EMAIL">
        <span class="input-group-btn">
          <button class="btn btn-default wow slideInUp" type="button"><i class="fa fa-check wow slideInUp"></i></button>
        </span>
      </div>
    </div>
  </div>
  </div>

  </section>
  

<!-- email -->


<!-- footer -->

<section id="footer">
  <div class="container" id="about">
    <div class="row">
      <div class="col-md-4">
        <p><a href="#">CREDITS</a> | <a href="#">PRIVACY</a> | <a href="#">OUR TEAMS</a></p>
        <p>Copyright by 2015. All rights reserved.</p>
      </div>
      <div class="col-md-4 col-md-offset-4" align="right">
        
        <img class="img-responsive wow bounceInRight" src="{% static 'img/logo.png' %}"/>
      </div>
    </div>
  </div>
  
</section>


<!-- end footer -->